.btn  {
    margin: 10px;
}
.hidden {
    display: none;
}

.row {
    width: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

.button-table {
    border-top: 0px !important;
    border: none;
    background: white;
}
.clean-table-text  {
    border-top: 0px !important;
    border: none;
    background: white;
}

.form-inline .form-control {
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

